canvas {
	border: solid 3px #000;
	margin: 50px auto;
	display: block;
}

h1 {
	color: blueviolet;
	font-size: 3rem;
}

p {
	font-size: 1.5rem;
	letter-spacing: 1.3px;
}

.hidden {
	display: none;
}

.score {
	position: absolute;
	top: 80px;
	left: 30%;
	text-decoration: center;
	font-size: 40px;
	color: blueviolet;
}

.game-over-menu,
.menu {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	height: 800px;
	justify-content: center;
	left: 0;
	flex-direction: column;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 50px;
	width: 100%;
}

.running .menu {
	display: none;
}

.game-over-menu {
	display: none;
}

.game-over .game-over-menu {
	display: flex;
}

.menu button {
	font-size: 3rem;
	background-color: cornflowerblue;
	padding: 1rem 4rem;
	border: none;
	border-radius: 15px;
}

.menu button:hover {
	background-color: skyblue;
	cursor: pointer;
}
